.snake-snakebody {
    margin: 0px;
    padding: 0px;
    height:20px;
    width:40px;
    background-color: #FF0000;
    position: absolute;
    border: 0px solid #000080;
    background-repeat: no-repeat;
    margin-left: 10px;
}